<div class="mainpage">
</div>
<main class="front" style="font-size: 20px;">
    <span class="dialog">
        <img src="../../../assets/img/marvel-logo.png" alt="logo" style="height: 40px; display: flex; align-items: center;">
        <p>Hey! Miles Morales, passando para avisar que tem mais da gente do meu universo por aqui.</p>
        <p class="hid">O universo Marvel cresce a cada dia com a adesão de novos membros, sejam terráqeos ou não, por isso, desde 2014 temos um espaço nosso que fala sobre nós, vale muito viajar em nosso mundo. Garanto zero (0) arrependimentos. E não esqueça, vamos crescer ainda mais juntos</p>
        <button>
            <a routerLink="../personagens">
                VEJA!
            </a>
        </button>
    </span>
</main>